@font-face {
    font-family: 'Brutal Type';
    src: url('BrutalType-Light.woff2') format('woff2'),
        url('BrutalType-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

